@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

@layer base {
    :root {
        --color-background: 0 21 36;
        --color-primary: 70 251 140;
        --color-secondary: 61 90 143;
        --color-accent: 93 138 182;
    }
}

a {
    @apply text-primary hover:text-blue-500;
}
